@charset "UTF-8";
@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Roboto-Black;
    src: url(../fonts/Roboto-Black.ttf);
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Saira Stencil One";
    src: url(../fonts/SairaStencilOne-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
/*--------------------*/

:root {
    --basic-green: #6cac3d;
    --basic-blue: #2d4872;
    --basic-white: #ffffff;
    --basic-black: #171616;
    --basic-grey: #c4c4c4;
    --second-grey: #f2f2f2;
    --third-grey: #595959;
    --main-font: "Roboto-Regular", "Arial", sans-serif;
    --second-font: "Roboto-Bold", "Arial", sans-serif;
    --third-font: "Roboto-Medium", "Arial", sans-serif;
    --fourth-font: "Roboto-Light", "Arial", sans-serif;
    --five-font: "Roboto-Black", "Arial", sans-serif;
    --six-font: "Saira Stencil One", "Arial", sans-serif;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    min-width: 320px;
    width: 100vw;
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 1.3; */
    color: var(--basic-black);
    background-color: var(--basic-white);

}
img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.content {
	flex: 1 1 auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.title {
    font-family: var(--second-font);
    font-size: 42px;
    line-height: 49px;
    color: var(--basic-black);
}
.hr-line {
    margin: 15px 0;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid #d6d6d6;
}
.btn {
    font-family: var(--second-font);
    font-size: 18px;
    line-height: 21px;
    color: var(--basic-white);
    padding: 13px 25px;
    background: var(--basic-green);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    text-align: center;
}

/*----------- Header ---------------------*/
.header__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0 25px 0;
}
.header__checkbox {
    width: 1px;
    height: 1px;
}
.header__logo {
    font-family: var(--six-font);
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 44px;
    padding-bottom: 5px;
    color: var(--basic-black);
}
.header__logo1 {
    color: var(--basic-blue);
}
.header__logo2 {
    color: var(--basic-green);
}
.header__list {
    list-style: none;
    display: flex;
}
.header__link {
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 19px;
    color: var(--basic-black);
    margin-left: 24px;
}
.header__link:hover {
    color: var(--basic-blue);
}
.header__phone {
    font-family: var(--second-font);
    font-size: 18px;
    line-height: 21px;
    color: var(--basic-black);
    background: url("../img/phone.png") left no-repeat;
    background-size: 16px;
    display: inline-block;
    vertical-align: bottom;
    padding-left: 21px;
    margin-bottom: 4px;
}
.header__chart {
    line-height: 16px;
}
.header__btn {
    font-family: var(--third-font);
    font-size: 16px;
    line-height: 19px;
    color: var(--basic-green);
    padding: 13px 22px;
    border: 1px solid #6cac3d;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.header__submenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #6cac3d;
    border-bottom: 1px solid #6cac3d;
    margin-bottom: 33px;
}
.header__submenu > li {
    list-style: none;
    position: relative;
    cursor: pointer;
    margin: -1px 0 -1px -50px;
}
.header__submenu > li:hover > ul {
    left: 0;
    opacity: 1;
}
.header__submenu > li:hover {
    background: var(--basic-green);
}
.header__submenu > li > a {
    display: block;
    width: 100%;
    height: 100%;
    font-family: var(--third-font);
    font-size: 16px;
    line-height: 19px;
    color: var(--basic-black);
    padding: 21px 50px;
}
.header__submenu-list::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 6px;
    top: 48%;
    background: url(../img/down.png) right no-repeat;
    display: inline-block;
    padding-right: 21px;
}
.header__submenu-dropdown {
    list-style: none;
    width: 100%;
    position: absolute;
    left: -9999px;
    opacity: 0;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.25);
    padding: 20px 0;
}
.header__submenu-dropdown > li > a {
    display: block;
    width: 99%;
    height: 100%;
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 19px;
    color: var(--basic-black);
    padding: 10px 0 15px 50px;
    border: 1px solid transparent;
}
.header__submenu-dropdown > li > a:hover {
    border: 1px solid #6cac3d;
    border-radius: 3px;
    padding-right: 0;
}
.header__body {
    margin: 0 auto;
    background: linear-gradient(89.58deg, #ffffff 26.64%, rgba(255, 255, 255, 0) 99.61%),
        url(../img/main-background.png) center no-repeat;
}
.header__main {
    display: flex;
    justify-content: space-between;
}
.header__hero {
    padding: 30px 0 0 0;
}
.header__title {
    max-width: 560px;
    font-family: var(--basic-font);
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: var(--basic-black);
    margin-bottom: 30px;
}
.header__subtitle {
    font-family: var(--second-font);
    font-size: 44px;
    line-height: 52px;
    color: var(--basic-black);
    margin-bottom: 64px;
}
.header__subtitle > span {
    color: var(--basic-white);
    background: var(--basic-green);
    padding: 0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.header__advantage {
    width: 420px;
    display: flex;
    flex-wrap: wrap;
}
.header__item {
    flex: 0 0 200px;
    margin-bottom: 30px;
    position: relative;
}
.header__item:nth-child(odd) {
    margin-right: 10px;
}
.header__item > p {
    font-family: var(--second-font);
    font-size: 18px;
    line-height: 21px;
    color: var(--basic-black);
    padding: 15px 0 0 0;
}
.header__calc {
    background: var(--basic-white);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.header__forms-up {
    padding: 38px 0 24px 55px;
}
.header__calc-title {
    font-family: var(--five-font);
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: var(--basic-black);
    margin-bottom: 28px;
}
.header__form-title {
    font-family: var(--second-font);
    font-size: 16px;
    line-height: 19px;
    color: #595959;
    margin-bottom: 20px;
}
.header__form {
    display: flex;
    flex-wrap: wrap;
}
.header__form-radio {
    flex: 0 0 50%;
    margin-bottom: 11px;
    position: relative;
}

.header__form-radio > input {
    margin-left: auto;
    color: var(--basic-blue);
    cursor: pointer;
}
.header__form-radio > label {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 16px;
    color: #595959;
    padding-left: 10px;
}
.form-room {
    flex: content;
}
.header__form-range input[type="range"] {
    height: 10px;
    -webkit-appearance: none;
    width: 80%;
}
.header__form-range input[type="range"]:focus {
    outline: none;
}
.header__form-range input[type="range"]::-webkit-slider-runnable-track {
    height: 15px;
    background-color: var(--second-grey);
}
.header__form-range input[type="range"]::-webkit-slider-thumb {
    height: 24px;
    width: 24px;
    border-radius: 15px;
    background: var(--basic-blue);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
}
.header__form-range input[type="range"]::-moz-range-track {
    width: 80%;
    height: 15px;
    cursor: pointer;
    background: #989898;
    border-radius: 5px;
}
.header__form-range label {
    font-family: var(--basic-font);
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #6d6d6d;
    padding: 0 0 0 10px;
}
.header__form-sum {
    display: flex;
    justify-content: space-around;
    background: var(--second-grey);
    padding: 0 67px 0 30px;
}
.header__form-sum > p {
    width: 132px;
    padding: 18px 0;
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 19px;
    color: var(--basic-blue);
}
.header__forms-down {
    padding: 19px 0 24px 55px;
}
.header__form-submit {
    display: flex;
}
.header__form-submit input {
    width: 203px;
    height: 40px;
    border: 1px solid var(--basic-grey);
    margin-right: 15px;
}
/*----------- Offer -------------*/
.offer {
    padding: 73px 0 0;
}
.offer__title {
    text-align: center;
    margin-bottom: 48px;
}
.offer__container {
    display: flex;
    justify-content: space-between;
}
.offer__item {
    flex: 0 0 284px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--basic-white);
    border-radius: 16px;
    filter: drop-shadow(0px 0px 10px rgba(147, 147, 147, 0.25));
}
.offer__head {
    display: flex;
    align-items: center;
    background: #e3eaef;
    border-radius: 16px 16px 0px 0px;
    padding: 14px 0 14px 31px;
    margin-bottom: 24px;
}
.offer__head img {
    width: 57px;
    height: 57px;
}
.offer__item-title {
    padding: 0 0 0 10px;
}
.offer__item-title h3 {
    font-family: var(--second-font);
    font-size: 18px;
    line-height: 21px;
    color: var(--basic-green);
}
.offer__item-title p {
    font-family: var(--second-font);
    font-size: 14px;
    line-height: 16px;
    color: var(--basic-black);
}
.offer__text {
    min-height: 100px;
    font-family: var(--fourth-font);
    font-size: 14px;
    line-height: 16px;
    color: var(--basic-black);
    padding: 0 20px 0 27px;
}
.offer__info {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 27px;
}
.offer__info-title {
    font-family: var(--second-font);
    font-size: 14px;
    line-height: 16px;
    color: var(--basic-black);
    margin-bottom: 9px;
}
.offer__info-text {
    font-family: var(--basic-font);
    font-size: 14px;
    line-height: 16px;
    color: var(--basic-black);
    margin-bottom: 6px;
    background: url("../img/check.png") left no-repeat;
    background-size: 13px;
    display: inline-block;
    padding-left: 18px;
}
.delete {
    font-family: var(--basic-font);
    font-size: 14px;
    line-height: 16px;
    color: var(--basic-grey);
    margin-bottom: 30px;
    filter: grayscale(0.5);
    -webkit-filter: grayscale(0.5);
}
.offer__footer {
    padding: 0 0 31px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.offer__footer-title {
    font-family: var(--second-font);
    font-size: 18px;
    line-height: 21px;
    color: var(--basic-blue);
    text-align: center;
    margin-bottom: 10px;
}
.offer__footer-text {
    font-family: var(--basic-font);
    font-size: 14px;
    line-height: 16px;
    color: var(--basic-black);
    margin-bottom: 30px;
}
.offer__footer-text span {
    font-family: var(--second-font);
    font-size: 16px;
    line-height: 19px;
    color: var(--basic-green);
    padding-left: 6px;
}
/*----------- Exemples ------------*/
.exemples {
    padding: 98px 0 60px;
    background: var(--second-grey);
}
.exemples__title {
    text-align: center;
    margin-bottom: 70px;
}
.exemples__list {
    display: flex;
    flex-wrap: wrap;
}
.exemples__link {
    flex: 1 0 19%;
    display: block;
    font-family: var(--second-font);
    font-size: 16px;
    line-height: 19px;
    color: var(--third-grey);
    padding: 14px 0;
    text-align: center;
    background: #e6e6e6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin: 0 4px 34px 0;
}
.exemples__link:hover {
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
}
.exemples__link:focus,
.tabs__btn-active {
    color: var(--basic-white);
    background: var(--basic-blue);
}
.exemples__form {
    display: flex;
    justify-content: center;
    margin-bottom: 31px;
}
.exemples__form input:not(:first-child) {
    margin-left: 31px;
}
.exemples__form label {
    font-size: 14px;
    line-height: 16px;
    color: var(--third-grey);
    margin-left: 13px;
}
.exemples__form label:hover {
    color: var(--basic-black);
}
.exemples__body {
    display: flex;
    margin-bottom: 31px;
}
.exemples__link-aside {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 0;
}
.exemples__link-aside li {
    list-style: none;
}
.exemples__link-img {
    width: 82px;
    height: 58px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    margin-bottom: 6px;
    cursor: pointer;
}
.exemples__link-img:hover {
    border: 2px solid var(--third-grey);
}
.exemples__widget {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    min-height: 405px;
    /* background: white; */
    filter: drop-shadow(0px 4px 10px #dfdfdf);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.tabs__pane {
    display: none;
}
.tabs__pane-show {
    display: block;
}
.exemples__wrapper {
    display: flex;
}
.exemples__posters {
    display: flex;
}
.exemples__wrapper-img {
    position: relative;
    width: 711px;
    height: 405px;
}
.exemples__wrapper-img img {
    position: absolute;
    max-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.exemples__right-block {
    padding: 56px 81px 55px 75px;
    background: #f8f8f8;
}
.exemples__info {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 6px;
    align-items: flex-start;
}
.exemples__info-left {
    font-family: var(--basic-font);
    color: var(--third-grey);
}
.exemples__info-left::marker {
    font-size: 17px;
}
.info-ico1 {
    list-style: disc url("../img/dollar-sign.png") outside;
}
.info-ico2 {
    list-style: disc url("../img/grid.png") outside;
}
.info-ico3 {
    list-style: disc url("../img/calendar.png") outside;
}
.info-ico4 {
    list-style: disc url("../img/home.png") outside;
}
.info-ico5 {
    list-style: disc url("../img/map-pin.png") outside;
}
.info-ico6 {
    list-style: disc url("../img/file-text.png") outside;
}
.exemples__info-right {
    list-style: none;
    font-family: var(--second-font);
    color: var(--basic-black);
}
.exemples__info-right li:not(:last-child) {
    margin-bottom: 3px;
}
.exemples__text {
    line-height: 18px;
    list-style-position: inside;
}
.exemples__btn {
    width: 205px;
    display: block;
    margin: 0 auto;
}
/*------------------------ Stock ---------------------*/
.stock {
    padding: 66px 0;
}
.stock__title {
    text-align: center;
    margin-bottom: 45px;
}
.stock__body {
    display: flex;
    gap: 20px;
}
.stock__item {
    position: relative;
    flex: 0 0 32%;
    min-height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.stock__first {
    background: url(../img/family-moving-using-boxes.png);
}
.stock__second {
    background: url(../img/groom-black-tuxedo-hugs.png);
}
.stock__third {
    background: url(../img/medium-shot-couple-posing-together.png);
}
.stock__gradient {
    position: absolute;
    left: 0;
    right: 0;
    top: 240px;
    bottom: 40px;
    z-index: 1;
    background: linear-gradient(359.28deg, #ffffff 16.58%, rgba(255, 255, 255, 0) 90.82%);
}
.stock__subtitle {
    font-family: var(--second-font);
    font-size: 32px;
    line-height: 38px;
    color: var(--basic-black);
    margin-bottom: 5px;
    z-index: 2;
}
.stock__info {
    width: 272px;
    font-family: var(--basic-font);
    font-size: 16px;
    line-height: 19px;
    color: var(--basic-black);
    margin-bottom: 24px;
    z-index: 2;
}
.stock__btn {
    width: 205px;
    margin-bottom: 16px;
    z-index: 2;
}
/*---------------------- Desc ---------------------*/
.desc {
    padding: 41px 0 51px 0;
}
.desc__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.desk__title {
    margin-bottom: 11px;
}
.desc__subtitle {
    max-width: 773px;
    font-family: var(--fourth-font);
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: var(--basic-black);
    margin-bottom: 70px;
}
.desc__body {
    display: flex;
}
.desc__items {
    flex: 0 0 50%;
    display: flex;
    align-items: baseline;
}
.desc__item {
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.desc__info {
    text-align: center;
}
.desc__item img {
    margin-bottom: 18px;
}
.desc__item p {
    min-height: 57px;
    font-family: var(--third-font);
    font-size: 16px;
    line-height: 19px;
    color: var(--basic-black);
    text-align: center;
}
.desc__circle {
    width: 100%;
    height: 6px;
    background: linear-gradient(0deg, #f2f2f2, #f2f2f2), #d1d1d1;
    border-radius: 3px;
    margin: 28px 0 0 0;
    position: relative;
}
.desc__circle::after {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    top: -10px;
    left: 40%;
    background: #f2f2f2;
    border: 2px solid #ffffff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
/*----------------------- Advantage ---------------------*/
.advantage {
    padding: 54px 0 59px;
    background: #f8f8f8;
}
.advantage__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advantage__title {
    max-width: 829px;
    text-align: center;
    margin-bottom: 25px;
}
.advantage__body {
    display: flex;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(192, 192, 192, 0.25);
    border-radius: 6px;
    padding: 50px 20px 23px 20px;
    margin-bottom: 34px;
}
.advantage__item {
    flex: 0 1 240px;
    position: relative;
    padding-right: 10px;
}
.advantage__item img {
    max-width: 46px;
    height: 46px;
    margin-bottom: 6px;
}
.advantage__item p {
    font-family: var(--third-font);
    font-size: 18px;
    line-height: 21px;
    color: var(--basic-black);
}
.advantage__images {
    display: flex;
    gap: 16px;
}
/*--------------- Quality --------------------*/
.quality {
    padding: 54px 0;
}
.quality__title {
    text-align: center;
    margin-bottom: 11px;
}
.quality__subtitle {
    font-family: var(--fourth-font);
    font-size: 18px;
    line-height: 21px;
    color: var(--basic-black);
    text-align: center;
    margin-bottom: 59px;
}
.quality__body {
    display: flex;
}
.quality__image {
    width: 609px;
    height: 359px;
    margin-left: -120px;
}
.quality__image img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.quality__items {
    flex: 1 0 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 33px 58px;
    padding: 0 0 10px 24px;
}
.quality__item {
    max-height: 163px;
    flex: 0 0 192px;
}
.quality__numbers {
    font-family: var(--second-font);
    font-size: 18px;
    line-height: 21px;
    color: var(--basic-grey);
    margin-bottom: 10px;
}
.quality__numbers span {
    font-size: 30px;
    line-height: 35px;
    color: var(--basic-green);
}
.quality__capital {
    min-height: 42px;
    font-family: var(--second-font);
    font-size: 18px;
    line-height: 21px;
    color: var(--basic-black);
    margin-bottom: 11px;
}
.quality__height {
    min-height: 24px;
}
.quality__info {
    min-height: 64px;
    flex: 1 1 auto;
    font-family: var(--basic-font);
    font-size: 14px;
    line-height: 16px;
    color: var(--basic-black);
}
/*---------------- Benefits ---------------*/
.benefits {
    padding: 61px 0 35px;
}
.benefits__title {
    text-align: center;
    margin-bottom: 57px;
}

.benefits__items {
    display: flex;
    gap: 0 50px;
}
.benefits__item {
    flex: 0 0 262px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.benefits__item img {
    width: 36px;
    height: 36px;
    margin-bottom: 5px;
}
.benefits__item > div {
    min-height: 80px;
    margin-bottom: 12px;
}
.benefits__subtitle {
    font-family: var(--second-font);
    font-size: 18px;
    line-height: 21px;
    color: var(--basic-black);
}
.benefits__info {
    font-family: var(--basic-font);
    font-size: 14px;
    line-height: 16px;
    color: var(--basic-black);
}
/*------------ Feedback -----------------*/
.feedback {
    padding: 29px 72px;
    background: #f8f8f8;
}
.feedback__title {
    text-align: center;
    margin-bottom: 29px;
}
.feedback__body {
    display: flex;
    flex-wrap: wrap;
    gap: 29px 24px;
}
.feedback__item {
    flex: 0 0 45%;
    background: var(--basic-white);
    filter: drop-shadow(0px 0px 10px rgba(171, 171, 171, 0.25));
}
.feedback__block {
    padding: 14px 0 15px 27px;
}
.feedback__subtitle {
    display: inline-block;
    font-family: var(--second-font);
    font-size: 18px;
    line-height: 21px;
    color: var(--basic-green);
    text-transform: uppercase;
    margin: 0 8px 3px 0;
}
.feedback__block > span {
    font-family: var(--basic-font);
    font-size: 14px;
    line-height: 16px;
    color: var(--basic-black);
}
.feedback__address {
    font-family: var(--basic-font);
    font-size: 14px;
    line-height: 16px;
    color: var(--basic-black);
    position: relative;
    padding: 0 0 0 20px;
}
.feedback__address::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    background: url("../img/map-pin.png");
}
/*--------------------- Team ----------------*/
.team {
    padding: 73px 0 124px 0;
}
.team__title {
    text-align: center;
    margin-bottom: 41px;
}
.team__header {
    display: flex;
    margin-bottom: 90px;
}
.team__workers {
    flex: 1 1 auto;
}
.teams__btn {
    width: 100%;
    font-family: var(--second-font);
    font-size: 18px;
    line-height: 21px;
    color: var(--basic-black);
    text-align: center;
    background: var(--basic-white);
}
.team__circle {
    width: 100%;
    height: 6px;
    background: linear-gradient(0deg, #f2f2f2, #f2f2f2), #d1d1d1;
    border-radius: 3px;
    margin: 39px 0 0 0;
    position: relative;
}
.team__dots-up {
    cursor: pointer;
    height: 26px;
    width: 26px;
    margin: -10px 0 0 0;
    background: #f2f2f2;
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.teams__pane {
    display: none;
}
.teams__pane-show {
    display: block;
}
.team__tabs {
    margin-bottom: 36px;
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    filter: drop-shadow(0px 4px 10px #dfdfdf);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.team__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.team__body {
    padding: 85px 50px 45px 64px;  
}
.team__subtitle {
    font-family: var(--second-font);
    font-size: 18px;
    line-height: 21px;
    color: var(--basic-green);
    text-transform: uppercase;
    margin-bottom: 15px;
}
.team__info {
    font-family: var(--second-font);
    font-size: 18px;
    line-height: 21px;
    color: var(--basic-black);
    margin-bottom: 15px;
}
.team__text {
    font-family: var(--basic-font);
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-black);
}
.team__text ul {
    list-style-position: inside;
    margin-top: 18px;
}
.teams__btn:hover > h3,
.teams__btn:focus h3 {
    color: var(--basic-green);
}
.teams__btn:focus .team__dots-up {
    background-color: var(--third-grey);
}
.teams__btn .team__dots-item {
    color: var(--basic-green);
}
.team__item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}
@-webkit-keyframes fade {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}
.team__item img {
    object-fit: cover;
    max-width: 100%;
    height: 378px;
}
.active,
.team__dots-up:hover {
    background-color: var(--third-grey);
}
/*-------------- Masters ---------------*/
.masters {
    padding: 31px 0 93px 0;
    background: #f8f8f8;
}
.masters__title {
    text-align: center;
    margin-bottom: 32px;
}
.masters__slider {
    width: 100%;
    height: 411px;
    position: relative;
    margin-bottom: 153px;
}
.masters__items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    margin-bottom: 20px;
}

.masters__items .masters__item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 296px;
    height: 212px;
    border-radius: 8px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.masters__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.masters__item.active {
    width: 584px;
    height: 411px;
    opacity: 1;
    z-index: 99;
    border: 1px solid #d1d1d1;
}

.masters__item.prev {
    z-index: 2;
    opacity: 1;
    transform: translate(-200%, 0);
    -webkit-transform: translate(-200%, 0);
    -moz-transform: translate(-200%, 0);
    -ms-transform: translate(-200%, 0);
    -o-transform: translate(-200%, 0);
}

.masters__item.next {
    z-index: 2;
    opacity: 1;
    transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
}

.button-container {
    position: relative;
    width: 600px;
    z-index: 100;
}

.button-container .masters__button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
}

.button-container .masters__button:hover {
    opacity: 1;
}

.button-container .masters__button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: var(--basic-black);
    border-radius: 50%;
    z-index: -99;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.button-container .masters__button:nth-child(1) {
    float: left;
}

.button-container .masters__button:nth-child(2) {
    float: right;
}
.masters__row {
    display: flex;
    gap: 0 57px;
}
.masters__row video {
    width: 586px;
    height: 298px;
}
.masters__info {
    padding: 74px 114px 84px 24px;
    background: var(--basic-white);
    box-shadow: 0px 0px 10px rgba(215, 215, 215, 0.25);
}
.masters__info ul {
    list-style-position: inside;
}
/*------------------- Videos ----------------*/
.videos {
    padding: 71px 0 88px 0;
}
.videos__title {
    text-align: center;
    margin-bottom: 49px;
}
.videos__body {
    display: flex;
    flex-wrap: wrap;
    gap: 19px 9px;
}
.videos__body video {
    width: 394px;
    height: 226px;
}
/*------------------- Providers ------------------*/
.providers {
    padding: 77px 0 101px;
    position: relative;
}
.providers__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url("../img/providers.png") center no-repeat;
    z-index: -2;
}
.providers__wrapper::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(89.58deg, #ffffff 26.64%, rgba(255, 255, 255, 0) 99.61%);
    z-index: -1;
}
.providers__wrapper::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(89.58deg, #ffffff 26.64%, rgba(255, 255, 255, 0) 99.61%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: -1;
}
.providers__title {
    margin-bottom: 18px;
}
.providers__subtitle {
    margin-bottom: 52px;
}
.providers__row {
    display: flex;
}
.providers__cta {
    flex: 1 0 50%;
    padding: 54px 66px 28px 36px;
    background: var(--basic-white);
}
.providers__cta-text {
    display: flex;
    align-items: center;
    margin-bottom: 34px;
}
.providers__text {
    width: 280px;
    font-family: var(--basic-font);
    font-size: 16px;
    line-height: 19px;
    color: var(--basic-black);
    text-align: right;
}
.providers__price span {
    font-family: var(--second-font);
    font-size: 42px;
    line-height: 49px;
    color: var(--basic-white);
    text-align: center;
    background: #2d4872;
    border-radius: 9px;
    padding: 0 9px;
    margin: 0 5px 0 27px;
}
.providers__price {
    font-family: var(--third-font);
    font-size: 16px;
    line-height: 19px;
    color: var(--third-grey);
}
.poviders__btn {
    display: block;
    width: 205px;
    margin: 0 auto;
}
.providers__logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 23px 0 24px 38px;
}
.providers__logos > div {
    flex: 0 0 30%;
}
/*---------------- Questions --------------*/
.questions {
    padding: 65px 0;
}
.questions__title {
    text-align: center;
    margin-bottom: 19px;
}
.questions__subtitle {
    text-align: center;
    margin-bottom: 44px;
    font-family: var(--fourth-font);
    font-size: 22px;
    line-height: 26px;
    color: var(--basic-black);
}
.question__list[open] hr,
p {
    animation: spoiler 1s;
}
@keyframes spoiler {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.question__list summary,
.question__list p {
    font-family: var(--basic-font);
    font-size: 18px;
    line-height: 21px;
    color: var(--basic-black);
}
.question__list summary {
    position: relative;
    cursor: pointer;
    list-style: none;
    padding: 15px 0 14px 59px;
}
.question__list summary::after {
    content: "+";
    position: absolute;
    top: -10px;
    left: 0;
    width: 30px;
    height: 30px;
    font-family: var(--basic-font);
    font-size: 56px;
    line-height: 66px;
    color: #cccccc;
    transform-origin: center;
}
.question__list[open] summary,
.question__list[open] p {
    background: #f2f2f2;
    box-shadow: 0px 0px 10px rgba(215, 215, 215, 0.25);
}
.question__list[open] summary {
    color: var(--basic-green);
}
.question__list[open] summary::after {
    content: "-";
    left: 8px;
    color: var(--basic-green);
}
.question__list hr {
    width: 90%;
    height: 1px;
    margin: 0 0 0 57px;
    background: #c4c4c4;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.question__list p {
    padding: 10px 0 20px 59px;
}
/*------------------- CTA ------------------*/
.cta {
    padding: 28px 0 27px 0;
    background: linear-gradient(0deg, #6cac3d, #6cac3d), #2e3648;
}
.cta__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cta__content h2 {
    font-family: var(--third-font);
    font-size: 22px;
    line-height: 26px;
    color: var(--basic-white);
}
.cta__content p {
    flex: 0 0 570px;
    font-family: var(--third-font);
    font-size: 16px;
    line-height: 19px;
    color: var(--basic-white);
}
.cta-btn {
    font-family: var(--basic-font);
    font-size: 14px;
    line-height: 16px;
    color: var(--basic-white);
    text-transform: uppercase;
    white-space: nowrap;
    padding: 16px 37px;
    border: 2px solid #ffffff;
    border-radius: 31px;
    -webkit-border-radius: 31px;
    -moz-border-radius: 31px;
    -ms-border-radius: 31px;
    -o-border-radius: 31px;
}
/*------------------ Footer ----------------*/
.footer {
    background: #2e3648;
}
.footer__row {
    display: flex;
    justify-content: space-between;
    padding: 46px 0 29px 0;
}
.footer__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__logo {
    font-family: var(--six-font);
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 44px;
    padding-bottom: 5px;
    color: var(--basic-white);
}
.footer__logo span {
    color: var(--basic-green);
}
.footer__pay > p {
    font-family: var(--basic-font);
    font-size: 13px;
    line-height: 15px;
    color: #cbcbcb;
    margin-bottom: 11px;
}
.footer__services h3 {
    font-family: var(--second-font);
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: var(--basic-green);
    margin-bottom: 15px;
}
.footer__services ul > li {
    list-style: none;
}
.footer__services a {
    font-family: var(--basic-font);
    font-size: 13px;
    line-height: 15px;
    color: #cbcbcb;
}
.footer__menu li {
    list-style: none;
}
.footer__menu li:not(:last-child) {
    margin-bottom: 12px;
}
.footer__menu a {
    font-family: var(--second-font);
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: var(--basic-white);
}
.footer__menu li:not(:last-child) {
    margin-bottom: 7px;
}
.footer__contacts li {
    list-style: none;
    padding: 0 0 0 30px;
}
.footer__contacts a {
    text-decoration: none;
    font-family: var(--basic-font);
    font-size: 14px;
    line-height: 16px;
    color: var(--basic-white);
}
.footer__contacts u {
    color: var(--basic-green);
}
.footer__contacts li:nth-child(3) {
    margin: 5px 0 14px 0;
}
.footer__phone a {
    font-family: var(--second-font);
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 4px;
}
.footer__phone {
    position: relative;
}
.footer__phone::after {
    content: "";
    position: absolute;
    left: 0;
    width: 23px;
    height: 23px;
    background: url("../img/phone-call.png");
}
.footer__email {
    position: relative;
    margin-bottom: 16px;
}
.footer__email::after {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 23px;
    height: 23px;
    background: url("../img/mail.png");
}
.footer__address {
    position: relative;
}
.footer__address::after {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 23px;
    height: 23px;
    background: url("../img/map.png");
}
.footer__hr {
    width: 100%;
    height: 1px;
    background: #cbcbcb;
}
.footer__bottom {
    padding: 28px 0 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__item {
    color: #cbcbcb;
}
.footer__item a {
    text-decoration: none;
    color: #cbcbcb;
    text-decoration: underline;
}
.footer__social {
    display: flex;
    align-items: center;
    gap: 8px;
}
/*------------------ Modal -------------------*/
.overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
    transition: 0.3s all;
}
.modal {
    opacity: 0;
    visibility: hidden;

    /*  Установаем ширину окна  */
    width: 100%;
    max-width: 500px;

    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30; /* Должен быть выше чем у подложки*/

    /*  Побочные стили   */
    box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 30px;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.3s all;
}
.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}
.modal__close {
    width: 15px;
    height: 15px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    top: 10px;
    right: 10px;
    fill: #444;
    cursor: pointer;
}
.modal__title {
    margin-bottom: 28px;
}
.modal__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 28px;
}
.modal__body input {
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid var(--second-grey);
    padding: 14px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.modal__btn {
    display: block;
    margin-bottom: 20px;
}
.modal__text {
    font-family: var(--fourth-font);
    font-size: 14px;
    color: var(--third-grey);
}
@media (max-width: 1340px) {
    .feedback__body {flex-wrap: nowrap; overflow-x: scroll;}
}
@media (max-width: 1220px) {
    .header__content, .header__body { padding: 0 20px;}
    .offer, .exemples, .stock, .desc, .advantage, .benefits,
    .feedback, .team, .masters, .videos, .providers, .questions, 
    .cta, .footer { padding: 50px 10px;}
    .videos__body {justify-content: center;}
    .providers__cta {padding: 28px 15px 28px;}
    .benefits__items {gap: 0 20px;}
    .offer__container {flex-wrap: nowrap; overflow-x: scroll; gap: 0 10px;}
    .team__body {padding: 20px; }
    .providers__title, .providers__subtitle {text-align: center;}
    .quality__items {gap: 20px}
}
@media (max-width: 1160px) {
    .header__logo {order: 1; margin-bottom: 21px;}
    .header__contact {order: 3; margin-bottom: 21px;}
    .header__checkbox {order: 2;}
    .header__btn {order: 4; margin-bottom: 21px;}
    .header__list {order: 5; flex: 1 1 90%; padding: 21px 0 0 0; 
        justify-content: space-between; border-top: 1px solid #6cac3d;}
    .header__link {margin: 0 10px 0 0}
    .header__submenu > li > a {padding: 21px 36px 21px 50px;}
    .benefits__items {flex-wrap: wrap; justify-content: center;}
    .masters__row {gap: 0;}
    .providers__row {flex-wrap: wrap;}
    .providers__logos {order: 0;}
    .providers__cta {order: 1; display: flex; align-items: center;}
    .providers__cta-text {margin-bottom: 0;}
    .footer__bottom {flex-wrap: wrap; padding: 28px 0 0 0;}
    .exemples__posters {flex-direction: column;}
    .exemples__link-aside {order: 2; flex-direction: row; gap: 0 6px;}
    .exemples__wrapper-img {order: 1; margin-bottom: 10px;}
    .cta__text {margin-right: 15px;}
}
@media (max-width: 1060px) {
    .quality__body {flex-wrap: wrap; justify-content: center;}
    .quality__image {order: 2; margin-left: 0;}
    .quality__items {order: 1; justify-content: center;}
    .masters__info {padding: 74px 0px 84px 24px;}
    .exemples__wrapper-img {width: auto;}
    .benefits {padding: 50px 10px 0 10px;}
}
@media (max-width: 768px) {
    .header__title {margin-top: 43px;}
    .header__hero {padding: 0;}
    .header__body {height: auto;}
    .header__main {flex-direction: column;}
    .header__calc {width: 90%;}
    .header__list {flex-wrap: wrap;}
    .header__title {font-size: 52px; line-height: 61px;}
    .header__body {background: linear-gradient(89.58deg, #ffffff 26.64%, rgba(255, 255, 255, 0) 99.61%),
        url(../img/main-background.png) left top no-repeat;}
    .videos__body video {width: 310px; height: 226px;}
    .quality__items {margin-bottom: 20px;}
    .team__header {flex-wrap: wrap; margin-bottom: 40px;}
    .teams__btn {padding: 10px;}
    .team__circle {display: none;}
    .stock__body {overflow-x: scroll;}
    .providers__cta {flex-direction: column;}
    .providers__cta-text {margin-bottom: 15px;}
    .benefits {display: none;}
    .desc__body {padding: 0 10px;}
    .desc__items {flex-direction: column;}
    .desc__item {display: flex; flex-direction: row;}
    .desc__info {order: 2; padding: 10px 0;}
    .desc__info p {text-align: left;}
    .desc__circle {order: 1; width: 6px; height: 100%; margin-right: 30px;}
    .desc__circle::after {top: 25%; left: -10px;}
    .desc__info {display: flex; align-items: center;}
    .desc__info p {margin-left: 18px; padding: 10px;}
    .masters__row {align-items: center;}
    .masters__row video {width: 297px;height: 214px;}
    .masters__info {padding: 25px 0 30px 24px;}
}
@media (max-width: 600px) {
    .header__body {margin-top: -50px;}
    .header__logo {position: absolute; left: 40%; top: 30px;}
    .header__list {transform: translate(150%) ; -webkit-transform: translate(150%) ; -moz-transform: translate(150%) ; -ms-transform: translate(150%) ; -o-transform: translate(150%) ; }
    .header__list { transition: transform 0.5s ease-in-out ; -webkit-transition: transform 0.5s ease-in-out ; -moz-transition: transform 0.5s ease-in-out ; -ms-transition: transform 0.5s ease-in-out ; -o-transition: transform 0.5s ease-in-out ; }
    .header__submenu { transform: translate(150%) ; -webkit-transform: translate(150%) ; -moz-transform: translate(150%) ; -ms-transform: translate(150%) ; -o-transform: translate(150%) ; }
    .header__contact { transform:translate(350%) ; -webkit-transform:translate(350%) ; -moz-transform:translate(350%) ; -ms-transform:translate(350%) ; -o-transform:translate(350%) ; }
    .header__btn {display: block; transform:translate(350%) ; -webkit-transform:translate(350%) ; -moz-transform:translate(350%) ; -ms-transform:translate(350%) ; -o-transform:translate(350%) ; }
    .header__menu {display: block; position: relative;}
    .header__checkbox {position: absolute; display: block; height: 32px; width: 32px;
    top: 44px; left: 20px;z-index: 5;opacity: 0;cursor: pointer;}
    .header__burger {display: block; height: 26px; width: 32px; position: absolute;
    top: 41px; left: 20px;z-index: 2;display: flex;flex-direction: column;justify-content: space-between;}
    .header__line { display: block; height: 4px; width: 100%; background: var(--basic-blue); border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; }
    .line-up {transform-origin: 0% 0%; transition: transform 0.4s ease-in-out ; -webkit-transition: transform 0.4s ease-in-out ; -moz-transition: transform 0.4s ease-in-out ; -ms-transition: transform 0.4s ease-in-out ; -o-transition: transform 0.4s ease-in-out ; }
    .line-middle {transition: transform 0.2s ease-in-out ; -webkit-transition: transform 0.2s ease-in-out ; -moz-transition: transform 0.2s ease-in-out ; -ms-transition: transform 0.2s ease-in-out ; -o-transition: transform 0.2s ease-in-out ; }
    .line-down {transform-origin: 0% 100%; transition: transform 0.4s ease-in-out ; -webkit-transition: transform 0.4s ease-in-out ; -moz-transition: transform 0.4s ease-in-out ; -ms-transition: transform 0.4s ease-in-out ; -o-transition: transform 0.4s ease-in-out ; }
    .header__checkbox:checked ~ .header__list { transform: translateX(0); -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); }
    .header__checkbox:checked ~ .header__list { transition: transform 0.5s ease-in-out ; -webkit-transition: transform 0.5s ease-in-out ; -moz-transition: transform 0.5s ease-in-out ; -ms-transition: transform 0.5s ease-in-out ; -o-transition: transform 0.5s ease-in-out ; }
    .header__checkbox:checked ~ .header__submenu { transform: translateX(0) ; -webkit-transform: translateX(0) ; -moz-transform: translateX(0) ; -ms-transform: translateX(0) ; -o-transform: translateX(0) ; }
    .header__checkbox:checked ~ .header__btn { transform: translateX(0) ; -webkit-transform: translateX(0) ; -moz-transform: translateX(0) ; -ms-transform: translateX(0) ; -o-transform: translateX(0) ; }
    .header__checkbox:checked ~ .header__btn { transition: transform 0.5s ease-in-out ; -webkit-transition: transform 0.5s ease-in-out ; -moz-transition: transform 0.5s ease-in-out ; -ms-transition: transform 0.5s ease-in-out ; -o-transition: transform 0.5s ease-in-out ; }
    .header__checkbox:checked ~ .header__contact { transform: translateX(0) ; -webkit-transform: translateX(0) ; -moz-transform: translateX(0) ; -ms-transform: translateX(0) ; -o-transform: translateX(0) ; }
    .header__checkbox:checked ~ .header__contact { transition: transform 0.5s ease-in-out ; -webkit-transition: transform 0.5s ease-in-out ; -moz-transition: transform 0.5s ease-in-out ; -ms-transition: transform 0.5s ease-in-out ; -o-transition: transform 0.5s ease-in-out ; }
    .header__checkbox:checked ~ .header__burger .line-up { transform: rotate(45deg) ; -webkit-transform: rotate(45deg) ; -moz-transform: rotate(45deg) ; -ms-transform: rotate(45deg) ; -o-transform: rotate(45deg) ; }
    .header__checkbox:checked ~ .header__burger .line-middle { transform: scaleY(0) ; -webkit-transform: scaleY(0) ; -moz-transform: scaleY(0) ; -ms-transform: scaleY(0) ; -o-transform: scaleY(0) ; }
    .header__checkbox:checked ~ .header__burger .line-down { transform: rotate(-45deg) ; -webkit-transform: rotate(-45deg) ; -moz-transform: rotate(-45deg) ; -ms-transform: rotate(-45deg) ; -o-transform: rotate(-45deg) ; }
    .header__btn {position: absolute;top: 90px;right: 40px;z-index: 2;color: var(--basic-white);background: var(--basic-green);}
    .header__list {align-content: center;height: 100vh;width: 80%;position: absolute;top: 0;right: -20px;box-shadow: 3px 0px 10px 5px rgb(141, 141, 141);
    flex-direction: column;padding: 185px 19px 140px 25px;background: var(--basic-white);z-index: 1;border: 0;}
    .header__list a {text-align: right;}
    .header__contact {position: absolute;top: 30px;right: 40px;z-index: 2;}
    .exemples__link {flex: 1 0 25%;}
    .exemples__wrapper {flex-wrap: wrap; justify-content: center;}
    .team__wrapper {flex-wrap: wrap;}
    .button-container {width: 350px;}
    .masters__row {flex-wrap: wrap; justify-content: center;}
    .masters__row video {width: 384px; height: 214px;}
    .cta__content {flex-wrap: wrap;gap: 23px;}
    .cta__text {text-align: center;}
    .cta__text h2 {margin-bottom: 11px;}
    .cta-btn {text-align: center; width: 100%; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; }
    .footer__row {flex-wrap: wrap;}
    .footer__column {order: 4; flex: 0 0 100%; margin-top: 35px; flex-direction: row;}
    .footer__services {order: 1; flex: 0 0 30%;}
    .footer__services > ul > li:not(:last-child) {margin-bottom: 7px;}
    .footer__menu {order: 2; flex: 0 0 30%;}
    .footer__contacts {order: 3; flex: 0 0 40%;}
    .footer__social {display: none;}
    .footer__item {flex: 0 0 50%;}
    .footer__item:first-child {flex: 0 0 30%;}
    .footer__item:last-child {flex: 0 0 20%;}
    .advantage__body {flex-wrap: wrap; justify-content: center; gap: 20px;}
}
@media (max-width: 411px) {
    .offer, .exemples, .stock, .desc, .advantage, .benefits,
    .feedback, .team, .masters, .videos, .providers, .questions, 
    .cta, .footer { padding: 40px 10px 10px;}
    .quality {padding: 40px 0 10px;}
    .title {font-size: 36px;line-height: 42px;}
    .header__title {font-size: 34px; line-height: 40px;}
    .header__subtitle {font-size: 30px;line-height: 35px;}
    .header__forms-up {padding: 38px 0 24px 0px;}
    .header__item {flex: 0 0 175px;}
    .header__forms-down {padding: 19px 0 24px 0;}
    .header__form-btn {width: 100%; margin-top: 12px;}
    .header__form-submit {flex-direction: column;}
    .header__form-submit input {width: 100%;}
    /* .desc__body {flex-direction: column;} */
    .exemples__title {margin-bottom: 26px;}
    .exemples__btn {width: 100%;}
    .quality__items {justify-content: start;}
    .quality__image img {object-fit: contain;}
    .desc__body {flex-direction: column;}
    .desc__circle::after {display: none;}
    .feedback__block {padding: 14px 0 15px 0px;}
    .feedback__item > video {width: 384px;height: 214px;}
    .masters__slider {margin-bottom: 45px;}
    .videos__title {margin-bottom: 20px;}
    .videos__body {flex-wrap: nowrap; overflow-x: scroll;}
    .providers__cta-text {flex-wrap: wrap; justify-content: center;}
    .providers__text {margin-bottom: 18px;}
    .team__header {justify-content: center;}
    .team__workers {flex: 0 0 45%;}
    .exemples__list {margin-bottom: 25px;}
    .exemples__link {margin: 0 4px 5px 0;}
    .cta__content {margin-bottom: 30px;}
    .footer__row {flex-direction: column; align-items: center; gap: 29px; padding-top: 5px;}
    .footer__column {flex-direction: column; margin-top: 0;}
    .footer__contacts {display: flex;flex-direction: column;align-items: center;}
    .footer__services {display: flex;flex-direction: column;align-items: center;}
    .footer__services > ul > li {padding-left: 50px;}
    .footer__phone {margin-bottom: 10px;}
    .footer__bottom {flex-direction: column; gap: 20px;}
    .footer__social {display: flex;}
    .footer__item:nth-child(3) {text-align: center;}
}
